.base {
  font-size: 18px;
  height: 100vh;
  width: 100vw;
  font-family: 'Varela Round', sans-serif;
  overflow: hidden;
  background-image: url("../Images/Bg high.svg");
  background-size: cover;
  position: fixed;
}

@media only screen and (min-width: 400px) {
  .base {
    background-image: url("../Images/Bg wide.svg");
  }
}

.pageTitle {
  padding-top: 14px;
  color: #1c3258;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px 15px;
  /*background: linear-gradient(to top right, #95b3d7, 65%, #1c4385);*/
  background-color: #1c3258;
  color: #f8f9faf1;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
}

.secondButton {
  padding: 10px 15px;
  color: #1c3258;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #1c3258;
  text-decoration: none;
  background-color: #f8f9fa5e;
}

.deleteButton {
  padding: 10px 15px;
  color: #1c3258;
  background-image: linear-gradient(to top right, #f09090, 65%, #f54242);
  display: block;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  color: #f8f9faf1;
}

.editButton {
  font-size: 16px;
  width: fit-content;
  padding: 3px 8px;
  border-radius: 5px;
}

.noContent {
  width: 30vw;
  max-width: 120px;
  transform: rotate(-5deg);
  margin-bottom: 4vh;
}

.leftArrow, .rightArrow {
  display: none;
}

@media only screen and (min-width: 600px) {
  .leftArrow {
    position: fixed;
    left: 15vw;
    top:0vh;
    font-size: 50px;
    cursor: pointer;
    display: inline;
  }

  .rightArrow {
    position: fixed;
    right: 15vw;
    top:0vh;
    font-size: 50px;
    cursor: pointer;
    display: inline;
  }
}