.eventForm {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
  
.eventFormFields {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  height: 80vh;
  justify-content: space-between;
  background-color: #f8f9fa9e;
  border-radius: 10px;
  padding: 5px;
}

.inputField {
  background-color: transparent;
  font-size: 17px;
  display: flex;
  border: none;
  font-family: "Varela round", sans-serif;
}

.textInput {
  width: 70%;
}

input[type=datetime-local] [type=date] {
  color: black;
}

.selectField {
  border-radius: 5px;
  height: 40px;
  width: fit-content;
  text-align: end;
}

.selectField option {
  margin-right: 10px;
  padding-right: 10px;
}

.field {
  border-bottom: 1px solid #95B3D7;
  height: 40px;
}

.field:focus, .selectField:focus{
  border-width: 1.5px;
  outline: none;
}

.formRow {
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.time {
  display: flex;
  height: 40px;
}

input[type="date"], input[type="datetime-local"] {
  font-size: 16px;
}

.eventDate:focus {
  outline: none;
}

/* switch */
.allDay {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #95B3D7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* colors */

.eventColor {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 5px;
  display: block;
}

.colors {
  display: flex;
  justify-content: space-evenly;
}

.colorsDisabled {
  opacity: 0.4;
}

.activeColor {
  border: 4px solid #f8f9fa;
  outline: 1px solid #333;
}

.quitButton {
  color: black;
  font-size: 18px;
  position: fixed;
  left: -2%;
  cursor: pointer;
  text-decoration: none;
}

.alignSubmitButton {
  width: fit-content;
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 10px;
}

#timeError {
  color: #8c1717;
  font-size: 16px; 
  position: relative;
  left: 40%;
  bottom: 60%;
}

@media only screen and (max-width: 600px) {
  .eventTime::-webkit-calendar-picker-indicator{
    display: none;
  }

  .eventDate::-webkit-calendar-picker-indicator {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .eventFormFields{
    min-width: fit-content;
    max-width: 50%;
    padding: 2%;
  }
  .quitButton {
    left: 20%;
  }
  .editEvent {
    top:-15vh !important;
  }

  .editEventButtons {
    width: 50% !important;
    margin: auto;
  }
}

/* edit event */
.editEventButtons {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 6vh;
  width: 100vw;
}

.editEventButtons div {
  padding: 10px 15px;
  border-radius: 10px;
}

.emptyButtons {
  height: 5vh;
}

.editEvent {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: -7.5vw;
  top: -25vh;
  background-image: url("../Images/Bg\ high.svg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px #f8f9fa25;
}